*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.todoList_li{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    align-items: center;
}

#editMessage{
    font-size: 13px;
    margin: 5px;
    display: block;
    position: absolute;
}